
/* ik heb met mediaquery verschillende padding waardes
gegeven omdat het dan beter meeschaald op mobiel */
html {
  font-size: .8em;
  line-height: 1.15;

}







/*dit zijn mijn geimporteerde font-types van roboto */
@font-face {
	font-family: Roboto light;
	src: url(99 verhalen/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto bold;
	src: url(99 verhalen/fonts/Roboto/Roboto-Bold.ttf);
}
	

header  {
	
	text-align:center;
	display:grid;
    justify-items:start;
	grid-template-columns: 1fr 1fr 1fr;
    background-color: #675C53;
	position: fixed;
	width: 100%;
	padding: 0.625em 1em;
	top: 0;
	left: 0;
	right: 0;
    z-index: 5;


	

}

header img {
	height: 25px;
	left: 0;
		
	
}


#uovlogo {
	grid-column-start:1;
	grid-column-end: 2;
	
	
}

#accounticoon {
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self:start;


}

#search_submit {
	grid-column-start: 3;
	grid-column-end: 4;
	justify-self:end;

	 background-color: transparent;
  padding-right: 2em;
  height: 1.75em;
  background-image:  url("../images/searchicoon.png");
  background-size:contain;
  background-repeat: no-repeat;
  border: none;
  transition:  .6s ease-in;
  cursor:pointer;
  z-index: 6;
   
}



#intro {
	
	margin-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
	
	
}

#intro p {
	color: #E5711E;

}

/*html,body {
    margin:0;
    padding:0;
}*/

body {
	margin: 0 auto;
    font-family: Roboto, sans serif;
	padding-top: 1.25em;
	

	
}


h {
	font-weight: bold;

}



 

header>form>button{
	text-decoration: none;
	visibility: hidden;

}







/*button.search{
	text-align: right;
	border-style:none;
	background-color: transparent;
} */


body {
	background-color: #FCD900;
}


#zoeken {

	
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: .8em;
  right: 0;
  background: none;
  z-index: 1;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;



	


	
}

#zoeken:focus {
	width: 30%;
    cursor: text;
	border-bottom-style:solid;
	border-bottom-color: #E5711E;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}





#tweedemenu {
	padding-bottom: 1em;
}




#tweedemenu a {
	
	font-size: .625em;
	font-weight: bold;
	text-indent: none;
	margin-bottom: 1em;
    
    display: inline-block;
	text-decoration:none;
	color: white;
	background-color:#C05D00;
	border-radius: 8px;
	padding: 9px 15px;

	box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);
	
}

#tweedemenu a:hover {
	background-color:#E5711E;
}


#tweedemenu li {
	padding-right: .8em;
	display: inline;
	
	
}



#tweedemenu ul {
	
	list-style:none;
	padding-left: 0;
	text-align: center;
	

	
	
}



section {
    
	font-size: 1rem;
	padding-left: 1em;
	padding-right: 1em;
    


  

}

article {
	

    min-height: 15em;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 24px;
	border-radius: 10px; 
	box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);

 
	display: grid;

	grid-template-columns: repeat (1fr, 2) ;
	grid-template-rows: 6.25em 3.125em; 
    


}

.titelcard {
	

	background-color: white;
	
	
	box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);
	border-radius: 8px;


	
	


    padding-left: 1em;
    padding-bottom: 10em;

    margin-bottom: 1.3em;


    width: 12em;

    grid-column-start: 2;
    grid-column-end: 3;
	justify-self: end;
    grid-row-start: 2;
    grid-row-end: 3;
	

}



.plusbutton svg {

    
	height: 3.75em;
	width: auto;
	box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);
	float: right;
	background-color: transparent;

}



.sterren{

	
    height: 30px;
	width: auto;
    
  

}




article img {
    height: 15em;
    width: 100%;
    object-fit: cover;
   
    border-radius: 10px ;

  
   
}

article a {

	grid-column-start: 1;
	grid-column-end: 3;

	grid-row-start: 1;
	grid-row-end: 3;
}







#sectie2{

	background-color: #9A918A ;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	
}

#sectie1 {

	padding-top: 1.5em;
	background-color: #D6CEC6;
    padding-bottom: 1.5em;
	


}

footer {
	background-color:#675C53;
	padding-top: 2.1875em;
	padding-bottom: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
	color:white;
}

footer img {
	height: 1.75em;


}

footer a:nth-of-type(4){
	padding-top:2em;
}


footer a{
	display:block;
	text-decoration: none;
	color:white;



}

footer ul {
	padding-left: 0;
}

footer li {
	list-style:none;


}

footer li a {
	padding-bottom: 1.25em;
	text-indent: 0;

}

footer .social {
	float: right;
	padding-left: 1em;
}


/*tablet formaat schermbreedte */
@media only screen and (min-width:768px){



header {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#intro {
	padding-left: 1.5em;
	padding-right: 1.5em;

}

.wrapper {

	display:grid;

	grid-template-columns: 1fr 1fr ;

	grid-gap: 1em;

	

	
}

section {
	padding-left: 1.5em;
	padding-right: 1.5em;

	
}

/*#sectie1 h1{
	padding-top:1.875em;
	
}

#sectie1 {
	padding-bottom:1.875em;
}

#sectie2 {
	padding-bottom:1.875em;
}

#sectie2 h1 {
	padding-top: 1.875em;
} */

article {
	margin-top: 1.5625em;
}

footer {
	padding-left:1.5em;
	padding-right:1.5em;
}



}


@media only screen and (min-width:980px){
	
html {
	font-size: 1em;
}
	header{
		padding-left:9.375em;
		padding-right:9.375em;
	}

#tweedemenu {
	padding-left:9.375em ;
	text-align: left;	

}

#tweedemenu ul {
	text-align: left;

}
#intro {
	padding-left: 9.375em;
	padding-right:9.375em;
	
	
}

section {
	padding-left:9.375em;
	padding-right:9.375em;
	
	padding-bottom:1.875em;


}

.wrapper {

	display:grid;

	grid-template-columns: 1fr 1fr ;

	grid-gap: 1em;

	

	
}



article {
	margin-bottom: 3.125em;



	


	

}

footer {
	padding-left: 9.375em;
	padding-right: 9.375em;
}

	

}
  


 





