
/* ik heb met mediaquery verschillende padding waardes
gegeven omdat het dan beter meeschaald op mobiel */
html {
  font-size: .8em;
  line-height: 1.15;

}

/*tablet formaat schermbreedte */
@media only screen and (min-width:768px){



header {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#intro {
	padding-left: 1.5em;
	padding-right: 1.5em;

}

section {
	padding-left: 1.5em;
	padding-right: 1.5em;

	
}

#sectie1 h1{
	padding-top:1.875em;
	
}

#sectie1 {
	padding-bottom:1.875em;
}

#sectie2 {
	padding-bottom:1.875em;
}

#sectie2 h1 {
	padding-top: 1.875em;
}

article {
	margin-top: 1.5625em;
}

footer {
	padding-left:1.5em;
	padding-right:1.5em;
}



}


@media only screen and (min-width:980px){
	
html {
	font-size: 1em;
}
	header{
		padding-left:9.375em;
		padding-right:9.375em;
	}

#tweedemenu {
	padding-left:9.375em ;
	text-align: left;	

}

#tweedemenu ul {
	text-align: left;

}
#intro {
	padding-left: 9.375em;
	padding-right:9.375em;
	padding-top:3.125em;
	padding-bottom:3.125em;
}

section {
	padding-left:9.375em;
	padding-right:9.375em;
	padding-top:3.125em;
	padding-bottom:1.875em;

	
}

article {
	margin-bottom: 3.125em;
	column-count: 3;
	column-width: 233px;

}

footer {
	padding-left: 9.375em;
	padding-right: 9.375em;
}

	

}
  


 






/*dit zijn mijn geimporteerde font-types van roboto */
@font-face {
	font-family: Roboto light;
	src: url(./fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto bold;
	src: url(./fonts/Roboto/Roboto-Bold.ttf);
}
	

header  {
	
	text-align:center;
	display:flex;
	justify-content: space-between;
    background-color: #675C53;
	position: fixed;
	width: 100%;
	padding: 0.625em 1em;
	top: 0;
	left: 0;
	right: 0;
    z-index: 5;


	

}

header img {
	height: 25px;
	
	
}

#intro {
	
	margin-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2em;
	
	
}

#intro p {
	color: #E5711E;

}

/*html,body {
    margin:0;
    padding:0;
}*/

body {
	margin: 0 auto;
    font-family: Roboto, sans serif;
	padding-top: 1.25em;
	

	
}


h {
	font-weight: bold;

}



 

header>button{
	text-decoration: none;

}







/*button.search{
	text-align: right;
	border-style:none;
	background-color: transparent;
} */





#zoekknop {
	color: white;
	
	font-weight: bold;
	border-style: none none solid none;
	border-bottom-color:white;
	
	background-color:transparent;
	border-top-style: none;
	


	
}

#zoekknop:focus {
	border-bottom-color: #E5711E;
}

#search_submit  {
  
    float: left;
    background-repeat:no-repeat;
    border-style:none;
    padding-right: 2em;
    height: 1.75em;
    background-image: url('searchicoon.png') center center no-repeat;
 


}

button>img {
	height: 1.75rem;
}


#tweedemenu {
	padding-bottom: 1em;
}




#tweedemenu a {
	
	font-size: .625em;
	font-weight: bold;
	text-indent: none;
	margin-bottom: 1em;
    
    display: inline;
	text-decoration:none;
	color: white;
	background-color:#C05D00;
	border-radius: 8px;
	padding: 9px 15px;

	box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);
	
}

#tweedemenu a:hover {
	background-color:#E5711E;
}


#tweedemenu li {
	padding-right: .8em;
	display: inline;
	
	
}



#tweedemenu ul {
	
	list-style:none;
	padding-left: 0;
	text-align: center;
	

	
	
}



section {
    
	font-size: 1rem;
	padding-left: 1em;
	padding-right: 1em;
    


  

}

article {
	background-color: white;
	margin-bottom: 1.25em;
	border-radius: 10px;
    
	box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);
    
    display:grid;
    grid-template-columns: 4fr 1fr


}



.sterren{
	grid-column: 4 / 5;
    height: 30px;
	width: auto;
    
  

}




article img {
 
  max-height: 9.375em;
  width: 100%;
  object-fit: cover;
  z-index: 2;
  border-radius: 10px 10px 0 0 ;

}

article h2 {
    
	color: white;
    position: absolute;
	margin: 50%;
	text-align: center;
	z-index: 3; 
} 

article p, h3  {
    grid-column: 1 / 4;
	padding-right: 1em;
	display: flex;
	justify-content: flex-end;

}

#sectie2{

	background-color: #FCD900 ;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	
}

#sectie1 {

	padding-top: 1.5em;
	background-color: #D6CEC6;
    padding-bottom: 1.5em;
	


}

footer {
	background-color:#675C53;
	padding-top:2.5em;
	padding-bottom: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
	color:white;
}

footer img {
	height: 1.75em;


}



footer a{
	display:block;
	text-decoration: none;
	color:white;


}

footer .social {
	float: right;
	padding-left: 1em;
}





